a.active {
	color: #fc7049 !important;
}

a:hover {
	color: #fc7049 !important;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: large;
	color: black !important;
}

li {
	padding: 1.5rem !important;
}

.space {
	justify-content: space-between;
}
